/***************
search box styles
****************/

	#searchFeature {
	margin: 50px 0px 50px 0px;
}

#searchBox {
	height: 50px;
	display: flex;
	justify-content: center;
	}

.photoSearch {
	border: solid #cccccc;
	border-radius: 8px;
	border-width: 2px;
	font-size: 16px;
	font-weight: 200;
	height: 40px;
	width: 40%;
	padding-left: 15px;
	margin-left: -15px;
	font-family: sans-serif;
}

/***************
Lightbox Styles
****************/
.fancybox-caption {
	color: #d0d9e8;
	font-family: courier, sans-serif;
	max-width: 600px;
	text-align: left;
	margin: 0 auto;
}

/***************
Gallery Section
****************/

.photoSection {
	max-width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 20%);
	grid-row-gap: 50px;
	grid-column-gap: 50px;
	justify-content: center;
}

/***************
Media Queries
****************/

@media (max-width: 900px) {
	.photoSection {
		max-width: 90%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 25%);
		grid-row-gap: 30px;
		grid-column-gap: 30px;
	}
}

@media (max-width: 750px) {
	.photoSection {
		max-width: 90%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 35%);
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
}

@media (max-width: 650px) {
	.photoSection {
		max-width: 90%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 45%);
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
}

@media (max-width: 500px) {
	.photoSection {
		max-width: 90%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 50%);
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
}
